.PasswordForgetForm .paper {
  height: 420px;
  min-width: 400px;
}

.PasswordForgetForm form {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
}

.PasswordForgetForm .textField {
  width: 90%;
}

.PasswordForgetForm .submit {
  width: 90%;
}

.PasswordForgetForm .error {
  color: red;
  margin-top: 8px;
  height: 15px;
  max-width: 350px;
  align-self: center;
}
