.ResetPassword {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ResetPassword .paper {
  height: 420px;
  min-width: 400px;
}

.ResetPassword form {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
}

.ResetPassword .textField {
  width: 90%;
}

.ResetPassword .submit {
  width: 90%;
}

.ResetPassword .error {
  color: red;
  margin-top: 8px;
  height: 15px;
  max-width: 350px;
  align-self: center;
}
